@import "../../default";

.contact-info-content {
  width: 100%;
  @include flexBox(row, flex-start, center);
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 2px solid $secondary-color;
  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  &-icon {
    font-size: 1.7rem;
    color: $secondary-color;
    width: 25px;
    margin-right: 1em;
  }
  &-personal-contact{
    font-family: Nunito-Bold;
    color: $primary-color;
  }
}
