@import "../../default";

#projects {
  width: 100%;
  min-height: 80vh;
  padding: 7em 1.5em 3em 1.5em;
  @include flexBox(column, none, none);
  .projects-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.5em;
    margin-bottom: 2.7em;
    &-link {
      margin-right: 1.5em;
      color: $tertiary-color;
      font-size: 1.15rem;
      &:hover {
        color: $secondary-color;
      }
    }
  }
  .project__name{
    color : white ; 
    padding : 10px ; 
    position : relative ; 
    left : 50px ; 
  }
  .projects-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }
  .active-list{
    color: $secondary-color;
  }
}
@media screen and(min-width:$tablet-size) {
  .projects-content {
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 1em;
  }
}

@media screen and(min-width:$desktop-size) {
  #projects {
    padding: 3em 2.5em;
  }
}
